.container {
    background-color: $primary;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
    font-size: 20px;

    :global(select::-ms-expand) {
        display: none;
    }

    :global(select) {
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding: 2px 24px 2px 6px;
        cursor: pointer;    
    }
}

.container-icon {
    position: absolute;
    right: 4px;
    pointer-events: none;
    display: flex;
    align-items: center;
}