.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    :global(.navbar-toggler) {
        padding: 0;
        border: 0;
    }

    :global(.active-item) {
        color: darken($secondaryShade, 10) !important;
    }

    :global(.nav-link) {
        margin: 0 20px !important;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition: color 0.1s ease;
        user-select: none;

        :global(.btn) {
            text-transform: uppercase;
        }

        &:hover, &.active-item {
            color: darken($secondaryShade, 10);
        }
    }

    :global(.navbar-collapse) {
        @media screen and (max-width: 1200px) {
            padding: 12px 0;   
            background-color: $primaryTaint;
        }
    }
}