.container {
    height: 351px;
    overflow: hidden;
    position: relative;
    background-color: $primary;
}

.primary-page-title {
    font-size: 64px;
    filter: drop-shadow(4px 4px 12px rgba(#000000, 0.5));
}

.secondary-page-title {
    font-size: 72px;
    text-align: right;
    filter: drop-shadow(4px 4px 12px rgba(#000000, 0.5));
}

.footer-container {
    background-color: #fff;
    height: 40px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}