.tab-col {
    @media (min-width: 992px) {
        &:first-child {
            border-right: 1px solid $primaryTaint;
        }

        &:last-child {
            border-left: 1px solid $primaryTaint;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 16px;
    }
}

.tab-link {
    font-size: 28px;
    font-family: "Felidae";
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;

    fill: $primary;
    transition: color 100ms ease;
}

.active-tab {
    color: black;
    background-color: transparent;

    :global(svg) {
        fill: $primaryTaint;
    }
}